#display-view {
  background-color: rgb(228, 255, 228);
  display: grid;
  justify-content: right;
  align-items: center;
  grid-column: 1 / -1;
  color: #000;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  border-radius: 15px;
  height: 100px;
  padding-right: 8px;
  overflow: auto
}
