@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("./images/mathweb2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  backdrop-filter: blur(3px);
}

.App {
  height: 100vh;
}
